<h1>Stupid Coaching</h1>

<div class="answer">
  <% if params[:question] == "I am going to work" %>
    <p>Great!</p>
  <% elsif params[:question].end_with?("?") %>
    <p>Silly question, get dressed and go to work!</p>
  <% else %>
    <p>I don't care, get dressed and go to work!</p>
  <% end %>
</div>

<%= link_to "Ask a new question", 'http://localhost:3000/ask' %>
